{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'blogapp/js/like.js' %}"></script>
<script src="{% static 'blogapp/js/dislike.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'blogapp/stylesheet.css' %}" />
{% if messages %}
	<ul class="messages">
		{%for message in messages %}
			<li class="{{message.tags}}">{{message}}</li>
		{% endfor %}
	</ul>
{%endif%}	
<div class="header">
	{% if user.is_authenticated %}
	<p>Hi, {{ user.username }}</p>
	<a href="{% url 'logout' %}">Logout</a>
	{% else %}
	<a href="{% url 'login' %}">Login</a>
	<a href="{% url 'register' %}">Register</a>
	{% endif %}
</div>
<a href="{% url 'createpost' %}" class="write-post">Write Post</a>
<div class="row-posts">
	<div class="posts side"></div>
	<div class="posts main">
		{% if latest_post_list %}
			{% for post in latest_post_list %}
				<div class='post'>
					<p class="post-header">User: {{post.user}}</p>
					<p>{{post.text}}</p>
					<p class="tags">Tags:
						{% for tag in post.tag %}
							{{tag}}
						{% endfor %}</p>
					<div class="post-footer">
						{% if user.is_authenticated %}
						<button class="like" id="like{{post.id}}" data-id="{{ post.id }}" type="button" {%if post_likes%}{%for like in post_likes%}{%if like.post.id == post.id%}style="background-color: #claffb"{%endif%}{%endfor%}{%endif%}>+</button>
						{% endif %}
						<p class="post-footer item">Likes: </p>
						<p class="post-footer item" id="likes{{post.id}}">{{post.likes_amount}}</p>
						{% if user.is_authenticated %}
							<button class="dislike" id="dislike{{post.id}}" data-id="{{ post.id }}" type="button" {%if post_dislikes%}{%for dislike in post_dislikes%}{%if dislike.post.id == post.id%}style="background-color: #claffb"{%endif%}{%endfor%}{%endif%}>-</button>
						{% endif %}
						<p class="post-footer item">Dislikes: </p>
						<p class="post-footer item" id="dislikes{{post.id}}">{{post.dislikes_amount}}</p>
						<p class="post-footer item">Was published: {{post.pub_date}}</p>
					</div>
					<a href="{% url 'post' post.id %}" class="write-post">Detail...</a>
				</div>
			{% endfor %}
		{% else %}
			<p>There is no posts</p>
		{% endif %}
	</div>
<div class="posts side"></div>
</div>
