{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'blogapp/stylesheet.css' %}" />
{% if messages %}
	<ul class="messages">
		{%for message in messages %}
			<li class="{{message.tags}}">{{message}}</li>
		{% endfor %}
	</ul>
{%endif%}	
<div class="header">
	{% if user.is_authenticated %}
	<p>Hi, {{ user.username }}</p>
	<a href="{% url 'logout' %}">Logout</a>
	{% else %}
	<a href="{% url 'login' %}">Login</a>
	<a href="{% url 'register' %}">Register</a>
	{% endif %}
</div>
<p>{{ post.text }}</p>
{% for comment in comments%}
	<div class="comment">
		<p>{{comment.text}}<p>
		<div class="post-footer">
			{% if user.is_authenticated %}
				<button class="like">+</button>
			{% endif %}
			<p class="post-footer item">Likes: {{comment.likes_amount}}</p>
			{% if user.is_authenticated %}
				<button class="dislike">-</button>
			{% endif %}
			<p class="post-footer item">Dislikes: {{comment.dislikes_amount}}</p>
			<p class="post-footer item">Was published: {{comment.pub_date}}</p>
		</div>
	</div>
{% endfor %}
{%if user.is_authenticated%}
<div class="comment_create">
	<form method="post">
		{% csrf_token %}
		<input type="text" maxlength="256"  name="input_text">
		<input type="submit" value="Comment">
	</form>
</div>
{%else%}
<div class="user_warning"><p>Please login to write comments</p></div>
{%endif%}

