body{
	background: white url("images/background-blue-soft.png");
}
.error{
	background-color:red;
}

.header{
	width:100%;
	background-color:#66ff99;
	display:inline-block;
	padding: 15px 5px 15px 3px;
	text-align: right;
}

.posts{
	float:left;
	padding:15px;
}

.posts.main{
	width: 50%;
}

.posts.side{
	width: 25%;
}

.post{
	overflow-x:hidden;
	border-style: solid;
	margin: 15px;
}

a.write-post:link, a.write-post:visited{
	background-color: #8c66ff;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a.write-post:hover, a.write-post:active{
	background-color: #d966ff;
}

.like, .dislike{
	background-color: #8c66ff;
	border: none;
	color: white;
	padding: 0px 9px 9px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30;
}

.like:hover, .dislike:hover{
	background-color: #d966ff;
}

.like:disabled, .dislike:disabled{
	background-color: #c1affb;
}

.comment{
	border-style: solid;
	margin: 10px;
}

p.post-header{
	background-color: #66b3ff;
	color: white;
	font: bold;
	margin-top: 0px;
	padding: 5px 5px 5px 5px;
}

.post-footer{
	font-size: 14px;
	display: inline-flex;
	background-color: #66b3ff;
}

.post-footer.item{
	padding-right: 3px;
}

p.tags{
	font-size:12px;
}
